<div class="">
    <h1>Search by name</h1>

    <input class="" type="string" min="1" max="30" #input>
    <button (click)="fetchGameByName(input.value)">Search</button>
  
    <div class="">
      <!-- content -->
      <div class="">
        <!-- <h4 class="">New Adventures Await</h4> -->
  
        <div class="grid">
          <span *ngFor="let game of games">
            <a [routerLink]="'/games/' + game._id + '/details'">
              <span>
              <img src="{{ game.image }}" width="100%" />
              <div class="name"><strong>{{ game.name }}</strong></div>
              <div class="category">
                {{ game.category }}
              </div>
              <div class="year">
                {{ game.year }}
              </div>
        
              </span>
          </a>
  
          </span>
  
        </div>
      </div>
    </div>
  </div>
